<div id="navigation">
        <div class="names_header">
            <h1> Jason and Talia </h1>
        </div>
        <div id="nav">
            <div class="nav_item" id="nav_home"><%= link_to "Home", root_path %></div>
            <div class="nav_item" id="nav_OurStory"><%= link_to "About Us", pages_about_us_path %></div>
            <div class="nav_item" id="nav_TheWedding"><%= link_to "Wedding Details",  pages_wedding_details_path%></div>
            <div class="nav_item" id="nav_Accomodations"><%= link_to "Accomodations", pages_accomodations_path %></li>
    
        </div>

    </div>
